table {
  width: 100%;
} 

.content {
  display: block;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 80%;
  flex-direction: column;
  align-items: center;
}

table ng-container th{
  text-align: center;
}

.snackbar-centered {
  text-align: center;
}
